<nav class="navbar navbar-expand-lg navbar-light bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"> 
      <svg class="logo-icon" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
        <path d="M 60 10 L 5 55 L 20 55 L 60 22 L 100 55 L 115 55 Z" fill="#FF385C"/>
        <path d="M 35 45 C 65 45 80 50 80 70 C 80 85 70 93 55 95 L 85 115 L 60 115 L 40 95 L 40 115 L 20 115 L 20 45 Z M 40 60 L 40 80 C 55 80 60 75 60 70 C 60 60 50 60 40 60 Z" fill="#FF385C"/>
      </svg>
      <span class="logo-text">roomy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>        
      </div>
      <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search" action="/listings/search" method="GET">
        <input class="form-control me-2 search-inp" type="search" name="country" placeholder="Search Destinations" />
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
      </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Become a host</a>
        <% if (!currUser) { %>
          <a class="nav-link " href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>